header {
    background-color: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid $primaryColor;
    width: 100%;

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 2rem;
        font-weight: 600;
        span {
            color: $primaryColor;
        }
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 25%;
    }
    a {
        color: white;
        text-decoration: none;
        padding: 0px 10px;
        &:hover {
            color: rgb(204, 204, 204) !important;
            font-weight: 600;
        }
        &:nth-of-type(2) {
            color: $primaryColor;
            font-weight: 600;
            &:hover {
                color: rgb(204, 204, 204); 
            }
        }

    }

}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        a {
            padding-bottom: 20px;
        }

    }
}