footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 15vh;
    background-color: #FFFAF0;
    color: black;
    align-items: center;
    border-top: 3px solid $primaryColor;

    p {
        grid-column: 2;
        text-align: center;
        margin: 0;
        // padding-top: 6vh;
        align-self: flex-end;
        
        
    }
    a {
        grid-area: 2 / 2 / 3 / 3;
        text-align: center;
    }
    
    img {
        width: 200px;
        padding-bottom: 35px;
    }
}